

  <div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Create New User</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <div class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="name" [(ngModel)]="data.name">
  
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="username" [(ngModel)]="data.userid" >
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput type="password" placeholder="password" [(ngModel)]="data.password" >
          </mat-form-field>
        
        
        <mat-divider></mat-divider>
        <br><br>
        <button type="submit" [mat-dialog-close]="data" (click)="addUser(data.name)"  mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>