<div style="text-align:center;">
    <h1>View Users</h1>
    <div class="table-responsive">
        <table class="table" style="border:5px solid rgba(220,230,242,1);" *ngIf="users; else elseBlock">
            <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
                <th style="text-align:center">Name:</th>
                <th style="text-align:center">Username:</th>
                <!-- <th style="text-align:center">Password:</th> -->
            </tr>
            <tr *ngFor="let user of users" style="background-color:white">
              <td>{{user.name}}</td>
              <td>{{user.userid}}</td>
            </tr>
        </table>
    </div>
    <ng-template #elseBlock>
      <div>
          <h4 class="jumbotron" style="text-align:center;">No users available</h4>
      </div>
    </ng-template>
</div>
